*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
:root{
    --bg-color:#2a2a2a;
    --second-bg-color: #202020;
    --color:rgb(37, 60, 88);
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    
    background: var(--bg-color);
    color: var(--text-color);
}
    

header{
   
   
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}
.navlist{
    display: flex;
    margin-right: 50px;
}
.navlist a{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    padding: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: orange;
    border-bottom: 1px solid orange;
}
.banner img{
    height: 100vh;
    width: 100%;
}
.social-links i{
    transform: translate(162px,0px);
    padding: 7px;
    font-size: 20px;

}
.social-links i:hover{
    color: orange;
}
#menu-icon{
    transform: translate(171px,0px);
   
}
.logo{
    transform: translate(-167px,0px);
    margin-right: 40px;
    align-items: flex-start;
}

/*home section*/
section{
    padding: 160px 10% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image:url("image/banner-item1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    align-items: center;
    justify-content: flex-start;
}
.container-lg .banner-content h1{
    font-family: 'Finlandica', sans-serif;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 100%;
    font-size: 7rem;
    text-align: center;
    font-weight: 600;
}
.container-lg .btn{
  
    margin-top: 50px;
    margin-left:27rem;
    padding: 20px;
    background-color: white;
    text-align: center;

}
.container-lg .btn:hover{
    background: orange;
    transition: all .50 ease;
}

/*about section*/
#menu-icon{
    display: none;
}
.about{

    gap: 50px;
    background-color: rgb(252, 245, 235);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about .title-section h4{
    font-family: 'Yuji Syuku', serif;
    color: #202020;
    letter-spacing: 1.5px;
}
.about .title-section span{
    color: orange;
    font-size: 20px;
   
}
.about .title-section h1{
    font-weight: 700;
    text-transform: uppercase;
    color:var(--second-bg-color) ;
    font-size: 40px;
}
.description-section h4{
    font-weight: 700;
    font-size: 17px;
    color:var(--second-bg-color) ;
}

.description-section p{
    font-weight: 200;
    margin-top: 20px;
    color: #2a2a2a;
}
.description-section .btn-primary{
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background: orange;
    padding: 10px 20px;
    height: 50px;
    width: 180px;
}
.description-section .btn-primary:hover{
    transition: all .45s ease;
    transform: scale(1.1);
}
/*project section*/
.project{
    background: var(--text-color);
}
.image-container{
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.image-container .row img{
   
    width: 410px;
}
.btn-container{
    
    text-align: center;
    margin-bottom: 5rem;
    
}
.filter-button{
    font-size: 20px;
    align-items: center;
    margin-right: 3.8rem;
    color: black;
    gap: 10px;
    border: none;
    background: none;
}
.filter-button:hover{
    color: orange;
    transition: all .45s ease;
}
.section-header {
    text-align: center;
}
.section-header h3{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}
.section-header h2{
    color: orange;
    letter-spacing: 5px;
    font-family: 'Yuji Syuku', serif;
}
.image-container h3{
    color: black;
    
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    padding: 10px 5px;
}
.image-container h3:hover{

    color: orange;
    transition: .10s;
    transform: scale(1.1);
}
/*services section*/
.services{
background-image: url('image/hand-painted-black-watercolour-background_1048-16360.avif');

}
.services-container{
    gap: 50px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.services-item h3{
    font-weight: 700;
   
    font-size: 35px;
}
.services-item p {
    font-style: italic;
    margin-bottom: 40px;
}
.services-item .btn-primary{
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: none;
    background: #ff4d05;
    padding: 10px 20px;
 }
 .services-item .btn-primary:hover{
    background: var(--color);
    transition: all .45s ease;
 }
/* brand section*/
.brand-container{
    gap: 30px ;
  
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.brand-item img{
    width: 250px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 40px;
    background:   #ccc;
    
}
.brand-item img:hover{
    background-color: black;
    transition: all .70s ease;
    
}
/*Team member*/
.team-member{
    background: var(--text-color);
}
.img-container{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.header span{
    color: orange;
}
.header h3{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.32em;
    padding-left: 63px;
    color: orangered;
}
.header h2{
    box-sizing: border-box;
    display: block;
    font-size: 2.9em;
    font-weight: 900;
    color: var(--color);
    margin-bottom:5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1;
}
.image-holder h3{
    
    font-size: 25px;
    text-align: center;
    color: #2a2a2a;
}
.image-holder h4{
    font-size: 1rem;
    font-family: 'Yuji Syuku', serif;
     text-align: center;
    color: #2a2a2a;
}

.image-holder img:hover{
   margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2rem;
    transform:scale(1.1);
    transition: all .45s ease ;
}
/*client overview*/
.testimonial-container{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.testimonial-description{
    padding: 60px;
    background: var(--text-color);
}
.testimonial-description .para{
    letter-spacing: 0.15em;
    font-size: 20px;
    color: var(--color);
} 
.header-two h2{
    box-sizing: border-box;
    display: block;
    font-size: 2.9em;
    font-weight: 900;
   
    margin-bottom:5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1;
    color: var(--text-color);
}
.header-two h3{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.32em;
    padding-left: 63px;
    color: orangered;
}
.testimonial-description p{
    font-family: 'Yuji Syuku', serif;
    font-size: bolder;
    margin-top: 5px;
    text-align: center;
}

.testimonial-description hr{
    transform: translate(0px,11px);
    color: orange;
    width: 50px;
}
.flex{
    gap: 5px;
    display: flex;
}
/*achivement*/
.our-achicement{
    background: var(--second-color);
}
.achivement-container{
   
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.counter-info {
    gap: 25px;
    display: flex;
}
.counter-number .timer{
    color: gray;
    font-size: 90px;
}
.counter-number .timer:hover{
    transition: all .45s ease;
    color: orange;
}
.counter-info  p{
    color: black;
    margin-top: 60px;
}
/*artical section*/
.artical{
  background: var(--text-color);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    height: 400px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.header-text .text-uppercase{
    box-sizing: border-box;
    display: block;
    font-size: 2.9em;
    font-weight: 900;
   
    margin-bottom:2rem;
    
    line-height: 1;
    color: var(--color);
}
.header-text h3{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.32em;
    padding-left: 63px;
    color: orangered;
}
.layer h5{
    font-family: 'Golos Text', sans-serif;
    color: var(--main-color);
    font-size:27px;
    font-weight: 700;
    margin-bottom: 15px;
}
.layer p{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8;
    position: relative;

}

.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
 transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.btn{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.btn button{
    border-radius: 5px;
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn button:hover{
    transform: scaleX(1.1);
    transition: .5s;
}